<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0D40F17A1E43334200B5D77B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D40F1B21E4349D300B5D77B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D40F1BA1E4349D300B5D77B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
